@import "../variable.css";

header > nav {
    display: flex;
    justify-content: space-between;
}

#header__logo {
    font-size: 2.5rem;
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 2em;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25rem;
}

.link {
    text-decoration: none;
    color: black;
}

.header_links {
    cursor: pointer;
}

.header__links:hover {
    color: var(--clr-accent);
}

@media screen and (max-width: 650px) {
    .header {
        display: none;
    }
}